@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100..900&display=swap");
/* ------------------------------------------------------------------------------------ */
body {
  background-image: url(../bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-inline: 5%;
  padding-block: 1%;
  color: white;
}

#logo img {
  width: 15%;
}
#results-title h1 {
  font-family: "Outfit";
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 5px;
}
#results-title h2 {
  font-family: "Inter";
  font-size: 24px;
  font-weight: 300;
}
main {
  text-align: center;
  color: white;
}
footer {
  text-align: center;
  color: white;
  position: fixed;
  bottom: 0;
  width: 90%;
  font-family: "Inter";
}
.middle-box {
  width: 100%;
  margin-block: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.correct-result {
  display: inline-block;
  width: 30%;
  font-size: 60px;
  font-family: "Inter";
  text-align: left;
  padding-top: 50;
}
.correct-result h3 {
  font-size: 20px;
  font-weight: 300;
}

.middle-result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Outfit";
  width: 200px;
  height: 200px;
}

.container {
  position: relative;
  width: 360px;
  height: 360px;
}
#blue-circle {
  fill: none;
  stroke: #00ffff;
  stroke-width: 50px;
}

#purple-circle {
  fill: none;
  stroke: #d20094;
  stroke-width: 50px;
  stroke-dasharray: 880px;
  stroke-dashoffset: 0px;
  animation: anim 1s linear forwards;
}
@keyframes anim {
  0% {
    stroke-dashoffset: 0px;
  }
}

#circle {
  width: 93%;
  height: 93%;
  transform: rotateY(-180deg) rotateZ(-90deg);
  box-shadow: 0px 0px 20px 6px black;
  border-radius: 50%;
}

.middle-result h4 {
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 25px;
  font-size: 1.1em;
}
.middle-result p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  font-size: 0.95em;
}
.middle-result span {
  color: #00ffff;
  display: block;
}
.wrong-result {
  display: inline-block;
  width: 30%;
  font-size: 60px;
  font-family: "Outfit";
  text-align: right;
  font-weight: 300;
}
.wrong-result h3 {
  font-size: 20px;
}
#rateus-button {
  background-color: rgba(208, 231, 252, 0);
  color: white;
  border: 2px solid white;
  font-size: 25px;
  font-weight: bold;
  padding-block: 15px;
  box-shadow: 0px 0px 25px -5px #00ffff54;
  cursor: pointer;
  font-family: "Outfit";
  width: 200px;
  margin-bottom: 30px;
}
.correct-percentage,
.wrong-percentage {
  font-weight: bold;
}

#rateus-button:hover {
  color: #0c113c;
  background-color: #00ffff;
  border: #0c113c;
  box-shadow: 4px 4px 41px 7px rgba(0, 255, 255, 0.76);
}
